doctype html
head
  title EuBlog
  link(rel="stylesheet",href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css")
  link(rel="stylesheet",href="app.css")
body
  #loadingdiv
    h1 Loading, please wait
  #logindiv.hide
    fieldset
      legend Login to manage your Blog.
        br
        small If you don't have an account, simply enter AWS keys and a bucket those keys can read/write.
      input#AWS_ID(placeholder="AWS ID")
      input#AWS_SECRET(placeholder="AWS SECRET")
      input#S3_BUCKET(placeholder="S3 bucket")
      br
      input#loginbtn.pure-button-primary.pure-button(type="button",value="Login")
      label(for="loginremember") Remember me
      input#loginremember(type="checkbox",checked=true)
  #managediv.hide
    button#compile Compile
    #editor
    iframe#rendered

  script(src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc.18.min.js")
  script(src="app.js")
